@model IEnumerable<PoliziaMunicipaleApp.Verbale>


<table class="table border rounded">

    <h4 class="mb-4">Persone con almeno 10 punti decurtati</h4>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.IdAnagrafica.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdAnagrafica.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecurtamentoPunti)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.IdAnagrafica.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdAnagrafica.Cognome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecurtamentoPunti)
        </td>

    </tr>
}

</table>
