<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container-fluid bg-black text-white mx-0 w-100">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills px-2 align-items-center">
                <li class="nav-item px-2 fs-3">@Html.ActionLink("Municipale", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                <li class="nav-item px-2 text-decoration-none text-black">@Html.ActionLink("Crea nuova Anagrafica", "Create")</li>
                <li class="nav-item px-2">@Html.ActionLink("Lista Violazione", "Violazioni")</li>
                <li class="nav-item px-2">@Html.ActionLink("Mostra Verbali", "MostraVerbali")</li>
            
            </ul>
        </header>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
